* {
  padding: 0;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;

}
html{
  background-color: #eed9f4;
}
img {
  width: 30%;
  height: 33%;
}
p   {
  font-size: 20px;
}
i   {
  font-size:30px;
}

.header .body .footer {
  width: 100%;


}
 .header  {
   height: 300px;
 }
 nav{
   text-align:right;
 }
 nav ul li {
   display:inline-block;
 }


#main {
  text-align:center;
   background-image: url(../img/header2.jpg);
   background-size:cover;
  height: 600px;
  width: 100%;
  position:relative;
  color:white;
}
#main h1, h2  {
padding:20px;
}
hr {
  border: 0;
 border-top: 1px solid #762a8d;
 border-bottom: 1px solid #fff;
 width: 10%;
 text-align:center; margin: 0 auto;


}
#about  {
  text-align: center;
  height:200px;
}
#services  {
  text-align: center;

}
#portfolio  {
  text-align:center;
}
.svcs-description {
  display:flex;
  flex-direction:row;
  align-items:center;
  

}

/*.svcs-description p{
  border: 1px solid #e8c1f4;
}*/

.projects  {
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
}
footer  {
  margin-top:20px;
}
footer  {
  /*font-size:25px;*/
  text-align: center;
}
.contact-me   {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;

}
